body {
    background-color: #0e1117;
    color: white;
}

h1, h2, h3 {
    color: #00ffd5;
    text-align: center;
}

.stButton button {
    background-color: #00ffd5;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.stDownloadButton button {
    background-color: #ff4b4b;
    color: white;
}

.css-1d391kg {
    background-color: #111827;
}

.css-1v0mbdj {
    border-radius: 10px;
}
